html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
  text-align: center;
  color: white;
}
h1 {
  font-size: 50px;
  font-weight: normal;
}
main a {
  color: aquamarine;
  font-size: 16px;
}
video {
  display: block;
  margin: 30px auto;
}
