html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  background-color: black;
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: normal;
}
main a {
  color: aquamarine;
  font-size: 16px;
}
video {
  display: block;
  margin: 30px auto;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
main p {
  color: gray;
  font-size: 21px;
}
main img:nth-of-type(1) {
  display: block;
  margin: 0 auto;
}

main img:nth-of-type(2) {
  display: block;
  margin: 30px auto;
}
footer p {
  text-align: right;
  color: Gray;
  font-size: 21px;
}
